source/PdfMerge/SplitMergeLib/CmdSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="merge">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="path"/>
              <xs:element type="xs:string" name="pages" minOccurs="0"/>
              <xs:element type="xs:string" name="bookmark" minOccurs="0"/>
              <xs:element type="xs:byte" name="level" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="exclude" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="info"  minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="author" minOccurs="0"/>
              <xs:element type="xs:string" name="subject" minOccurs="0"/>
              <xs:element type="xs:string" name="title" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="outfile" minOccurs="0"/>
              <xs:element type="xs:string" name="annotation" minOccurs="0"/>
              <xs:element type="xs:byte" name="startpage" minOccurs="0"/>
              <xs:element type="xs:byte" name="paginationformat" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>